src/paraglide/
src/data/allowed-referrers.json
pnpm-lock.yaml
dist/
.astro/
# compiler side outputs, regenerated on every compile
project.inlang/**
!project.inlang/settings.json
messages/*.json
!messages/en.json
src/pages/surveys/*.html
