---
import { CATEGORY_LABEL } from "../lib/categories";
import type { Device } from "../lib/device";
import { requiresInternet } from "../lib/device";
import { categoryGlyph } from "../lib/icons";

interface Props {
    device: Device;
}

const { device } = Astro.props;
const needsInternet = requiresInternet(device);
---

<a class="device-row" href={`/device/${device.id}`}>
    <div class="device-thumb" set:html={categoryGlyph(device.category, 36)}></div>
    <div class="device-row-body">
        <div class="device-category">{CATEGORY_LABEL[device.category] ?? device.category}</div>
        <div class="device-name">{device.name}</div>
        <div class="device-manu">{device.manufacturer}</div>
        <div>
            <span class={"local-indicator " + (needsInternet ? "net-yes" : "net-no")}>
                <span class="dot"></span>
                {needsInternet ? "Requires internet" : "Local connection"}
            </span>
        </div>
    </div>
</a>
